.ion-padding {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  
  }

  .quotes {
    font-size: 30px;
    padding-top: 50px;
  }

  .ion-button {
    padding: 5px;
    height: auto;
    width: auto;

  }